.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}

.hyperlink:visited {
    -fx-text-fill: -fx-accent;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: false;
}

.dialog {
    -fx-padding: 10px;
}

.record-title {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.record-scroll {
    -fx-background-color: transparent;
    -fx-padding: 0 4px 0 0;
}

.app-root {
    -fx-padding: 10px;
    -fx-pref-width: 500px;
    -fx-pref-height: 400px;
}

.select-date-dialog {
    -fx-padding: 10px;
}

.select-patient-dialog {
    -fx-padding: 10px;
}

.search-patient-list {
    -fx-pref-height: 300px;
}

.patient-info {
    -fx-max-width: 400px;
    -fx-max-height: 500px;
}

.patient-id-column {
    -fx-alignment: center;
}

.charge-column {
    -fx-alignment: center-right;
}

.patient-link, .patient-link:visited {
    -fx-text-fill: #600;
}

.record-charge {
    -fx-border-style: dotted;
    -fx-padding: 3;
    -fx-border-insets: 4 0 4 0;
}

.search-byoumei-dialog {
    -fx-pref-width: 38em;
}

.search-byoumei-dialog .search-text-input {
    -fx-pref-width: 10em;
}

.disease-table .state-column {
    -fx-pref-width: 3em;
    -fx-alignment: center;
}

.disease-table .name-column {
    -fx-pref-width: 15em;
}

.disease-table .start-date-column {
    -fx-pref-width: 9em;
}

.disease-table .end-date-column {
    -fx-pref-width: 9em;
}

