    public static async $retType $methodName($params)
    {
        return await Post<$retType, PatientDTO>("$path", q => {
        #foreach($queryParam in $queryParams)
            q.Set("$queryParam.key", $queryParam.value);
        #end
        }, patient);
    }

