    public static async $methodRetType $methodName($params)
    {
        await VoidPost<$bodyParamType>("$path", q => {
        #foreach($queryParam in $queryParams)
            q.Set("$queryParam.key", $queryParam.value);
        #end
        }, $bodyParam);
    }

