    public static async $methodRetType $methodName($params)
    {
        await Get<$retType>("$path", q => {
        #foreach($queryParam in $queryParams)
            q.Set("$queryParam.key", $queryParam.value);
        #end
        });
    }

