target/
*.zip
/master-files
/programs
*.sublime-workspace
*.sublime-project
.idea
*.iml
*.log
/printer-settings
/config
/master-manip/work
/kouhatsukasan/work
/my-pyenv
/work
/tmp
__pycache__
docs-src/output
*.class
.vagrant/
.log
server-docker/data













