.dialog-root {
    -fx-padding: 10px;
}

.list-hokensho-dialog {
    -fx-pref-width: 200px;
    -fx-pref-height: 160px;
}

.image-disp-stage .image-scroll {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}

.date-input .nen, .date-input .month, .date-input .day {
    -fx-pref-width: 3em;
}

.shahokokuho-form .hokensha-bangou-input {
    -fx-pref-width: 140px;
    -fx-max-width: 140px;
}

.patient-form .phone-input {
    -fx-pref-width: 200px;
}

.patient-table .patient-id {
    -fx-pref-width: 6em;
    -fx-alignment: center;
}

.patient-table .yomi {
    -fx-pref-width: 8em;
}

.patient-table .birthday {
    -fx-pref-width: 10em;
}

.patient-table .sex {
    -fx-pref-width: 3em;
    -fx-alignment: center;
}
