.dialog-root {
    -fx-padding: 10px;
}

.list-hokensho-dialog {
    -fx-pref-width: 200px;
    -fx-pref-height: 160px;
}

.image-disp-stage .image-scroll {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}

.date-input .nen, .date-input .month, .date-input .day {
    -fx-pref-width: 3em;
}

