.table-view.wqueue-table .wait-cashier {
    -fx-text-fill: ladder(-fx-background, white 49%, red 50%);
}

.table-view.wqueue-table .wait-drug {
    -fx-text-fill: ladder(-fx-background, white 49%, green 50%);
}

.table-view.wqueue-table .state-column {
    -fx-pref-width: 38;
    -fx-alignment: center;
}

.table-view.wqueue-table:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected
{
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
    /*-fx-background-color: derive(-fx-selection-bar-non-focused, 20%), -fx-selection-bar-non-focused;*/
}


