.wait-cashier {
    -fx-text-fill: ladder(-fx-background, white 49%, red 50%);
}

.wait-drug {
    -fx-text-fill: ladder(-fx-background, white 49%, green 50%);
}

.state-column {
    -fx-pref-width: 38;
    -fx-alignment: center;
}

