<configuration>
	<timestamp key="byDate" datePattern="yyyyMMdd" />

	<property name="encodePattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${encodePattern}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  	<file>${user.home}/myclinic-scanner.log</file>
  	<append>false</append>
  	<immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>${encodePattern}</pattern>
    </encoder>
  </appender>

  <appender name="TIMESTAMP" class="ch.qos.logback.core.FileAppender">
  	<file>${user.home}/myclinic-scanner-logs/log-${byDate}.log</file>
    <encoder>
      <pattern>${encodePattern}</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    <appender-ref ref="TIMESTAMP" />
  </root>
</configuration>