.main-scene {
    -fx-padding: 10px;
}

.left-column {
    -fx-pref-width: 260px;
}

.right-column-scroll {
    -fx-pref-height: 500px;
    -fx-background-color: transparent;
}

.right-column {
    -fx-pref-width: 300px;
}

.patient-list {
    -fx-pref-height: 200px;
}

.presc-pane {
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.presc-pane .patient-name {
    -fx-font-size: 16pt;
}

.presc-pane .prescribed {
    -fx-font-weight: bold;
}