.root-pane {
    -fx-padding: 10px;
}

.date-input .nen, .date-input .month, .date-input .day {
    -fx-pref-width: 3em;
}

.height-input, .weight-input {
    -fx-pref-width: 6em;
}

.visual-acuity-input {
    -fx-pref-width: 4em;
}

.hearing-ability-input {
    -fx-pref-width: 6em;
}
