.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}

.hyperlink:visited {
    -fx-text-fill: -fx-accent;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: false;
}

.main-column {
    -fx-pref-width: 680;
    -fx-pref-height: 600;
}

.side-column {
    -fx-pref-width: 260;
}

.record-title-text {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.record-title-text.current-visit {
    -fx-background-color: #ff9;
}

.record-title-text.temp-visit {
    -fx-background-color: #9ff;
}

.record-text-form .text-area {
    -fx-pref-height: 160;
}

.diseases-pane {
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-padding: 4;
}

.diseases-pane-title {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.current-disease-start-at {
    -fx-fill: #666;
}

.form {
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-padding: 4;
}

.form .title {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.drug-disp, .shinryou-disp {
    -fx-cursor: hand;
}

.days-field {
    -fx-pref-width: 4em;
}

.drug-input {
    -fx-hgap: 4;
    -fx-vgap: 2;
}

.drug-amount-input, .kizai-amount-input {
    -fx-pref-width: 4em;
}

.drug-input .amount-input {
    -fx-pref-width: 4em;
}

.drug-input .days-input {
    -fx-pref-width: 4em;
}

.drug-input .example-link {
    -fx-text-fill: -fx-accent;
}

.drug-form .commands {
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 4;
}

.drug-form .search-result {
    -fx-pref-height: 120;
}

.search-result {
    -fx-pref-height: 120;
}

.charge-input-field {
    -fx-pref-width: 6em;
}

.date-input .nen, .date-input .month, .date-input .day {
    -fx-pref-width: 3em;
}

.search-patient-dialog {
    -fx-pref-height: 20em;
}

.cashier-dialog {
    -fx-pref-width: 340px;
    -fx-padding: 10px;
}

.cashier-dialog .total-ten {
    -fx-border-color: black;
    -fx-border-width: 1px 0px  0px  0px;
}

.cashier-dialog .charge-input-field {
    -fx-pref-width: 5em;
}

.cashier-dialog .meisai-disp {
    -fx-padding: 0 4px 0 0;
}

.cashier-dialog .meisai-scroll {
    -fx-background-color: transparent;
    -fx-max-height: 400px;
}

.new-visit-dialog {
    -fx-padding: 10px;
}

.new-visit-dialog .search-result {
    -fx-pref-height: 100px;
}

.search-text-dialog {
    -fx-padding: 10px;
    -fx-pref-width: 300px;
}

.search-text-dialog .result-scroll {
    -fx-pref-height: 400px;
}

.search-text-dialog .result-scroll .title {
    -fx-font-weight: bold;
    -fx-background-color: #ddd;
    -fx-padding: 3px;
}

.refer-dialog {
    -fx-padding: 10px;
}

.refer-dialog .title-input {
    -fx-pref-width: 200px;
}

.refer-dialog .age-input {
    -fx-pref-width: 5em;
}

.drawer-preview-dialog {
    -fx-padding: 10px;
}

.drawer-preview-dialog .printer-setting-choice {
    -fx-max-width: 160px;
}

.registered-refer-dialog {
    -fx-padding: 10px;
    -fx-pref-width: 420px;
}

.todays-visits-dialog {
    -fx-padding: 10px;
}

.current-diseases-scroll {
    -fx-padding: 10px;
    -fx-max-height: 400px;
}

.add-disease-pane .search-result {
    -fx-pref-height: 260px;
}

.global-text-search-dialog {
    -fx-padding: 10px;
}

.global-text-search-dialog .search-result-scroll {
    -fx-pref-width: 260px;
    -fx-pref-height: 360px;
}

.global-text-search-dialog .result-item-patient {
    -fx-font-weight: bold;
    -fx-background-color: #dfd;
    -fx-padding: 3px;
}
.global-text-search-dialog .result-item-visited-at {
    -fx-font-weight: bold;
    -fx-background-color: #ddd;
    -fx-padding: 3px;
}

.global-text-search-dialog .result-item-content .hilight {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.shouki-form {
    -fx-padding: 10px;
}

.presc-example-dialog {
    -fx-padding: 10px;
}