.hyperlink:visited {
    -fx-text-fill: -fx-accent;
}

.main-column {
    -fx-pref-width: 680;
    -fx-pref-height: 600;
}

.side-column {
    -fx-pref-width: 260;
}

.record-title-text {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.record-title-text.current-visit {
    -fx-background-color: #ff9;
}

.record-title-text.temp-visit {
    -fx-background-color: #9ff;
}

.record-text-form .text-area {
    -fx-pref-height: 160;
}

.diseases-pane {
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-padding: 4;
}

.diseases-pane-title {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.current-disease-start-at {
    -fx-fill: #666;
}

.form {
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-padding: 4;
}

.form .title {
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-padding: 2;
}

.drug-input {
    -fx-hgap: 4;
    -fx-vgap: 2;
}

.drug-input .amount-input {
    -fx-pref-width: 4em;
}

.drug-input .days-input {
    -fx-pref-width: 4em;
}