.shohousen-dialog {
    -fx-padding: 10px;
}

.shohousen-dialog .input-scroll {
    -fx-background-color: transparent;
}

.shohousen-dialog .postalcode-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .phone-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .kikancode-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .doctor-name-input {
    -fx-max-width: 9em;
}

.date-input .nen, .date-input .month, .date-input .day {
    -fx-pref-width: 3em;
}

.shohousen-dialog .futan-wari-input {
    -fx-max-width: 2em;
}

.shohousen-dialog .hokensha-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .kigou-bangou-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .kouhi-futansha-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .kouhi-jukyuusha-input {
    -fx-max-width: 9em;
}

.shohousen-dialog .drugs-input{
    -fx-pref-width: 300px;
    -fx-font-family: "MS Gothic";
    -fx-font-size: 12;
}


